{% extends "base.html.twig" %}
{% block title %}{% endblock %}
{% block content %}
<div class="container">
<h1>Modification du profil de :  {{app.user.firstname}}  {{app.user.lastname}}</h1>
{{form(form)}}
</div>

{% endblock %}