{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}
{% block css %}
	<link href="{{ asset('assets/css/circuit.css') }}" rel="stylesheet"/>
	<link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet"/>
	<link href="{{ asset('assets/css/navbar.css') }}" rel="stylesheet"/>
{% endblock %}
{% block content %}
 <h1 class="text-center" style=" padding: 2rem 1rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;opacity:0.8;color:#7f5539;font-weight:bold">A propos</h1>
 <div class="pageAbout" style=" padding: 2rem 1rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;opacity:0.8;color:#7f5539;font-weight:bold">
<p style="color:black">L'entreprise Sene'Safari a été créée en 2022  par Papa TRAORE et Thessaly GOMES qui occupent respectivement  leess postes de Développeur Web et de Community Manager . Cette enttreprise a vu le jour dans le but de promouvoir les circuits SAFARI au Sénégal mais éfalement d'autres circuits touristiques à travcers le Sénégal .<br><br> Ainsi nous proposons des vacances atypiques aux couples, ou aux familles oou aux persdonnes seules. Notre idéologie est de fdaire profiter au maximum à tout un chacun du beau pays qu'est le Sénégal mais au maximum et meme pour un laps de  temps <br><br>
<br>Notre organisation et notre sens du devoir envers le client nous oblige à vous fournir le meillmeur ainsi que' le maximum que vous pourrez rever lors d'un séjour en Afrique</p>
</div>
{% endblock %}