{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe {% endblock %}
{% block css %}

<link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet" /> 
<link href="{{ asset('assets/css/navbar.css') }}" rel="stylesheet" /> 
{% endblock %}
{% block content %}
<div class="container mt-5 mb-5 " >
<div class ="row  "style="display:flex;justify-content:center;">
<div class ="col-6" style="padding: 2rem 1rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;" >

<form method="post" >


    

    <h1 class="h3 mb-3 font-weight-normal text-center"><strong>Bonjour!<strong></h1>
 
    <h4>Entrez votre nouveau mot de passe.</h4>
        <label for="pass"> Mot de passe
        </label>   
        <input type="password" name="password" id="pass" required > 
            <input type="hidden" name="token" value="{{token}}">
    <button>Valider</button>
        <div>
    <small class="text-muted mt-4">Attention, il est recommandé de choisir un fort mot de passe</small>
</div>


    
</form>
</div>
</div>
</div>
{% endblock %}
