{% extends 'base.html.twig' %}

{% block title %} MainController!{% endblock %}

{% block content %}
{% for message in app.flashes('message') %}
<div>{{message}}</div>
    
{% endfor %}

{% endblock %}
