@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;1,600&family=Merriweather&family=Quicksand&display=swap');
*{
  box-sizing: border-box;
}
.card {
  

    transition: transform .2s; /* Animation */
 
  }
  
  .card:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    box-shadow: 1px 8px 20px gold;
    /* -webkit-transition:  box-shadow .6s  */
  }
  .price{
    color: goldenrod;
  }

 
@media  screen and (max-width:1100px) {
  /* css pour ecran de - de 600px  */
  .rowdetail{
    display: flex;
    flex-direction: row;

    


    /* col l'une au dessus de l'autre */
  }
  .imageHebergement{
    width: 100%;
    
  }
  .imageCircuit{
    width: 100%;
    
  }
  .row .col{
    flex:1;
    
    min-width: 50%;
    margin: 10px;
  }
/*   
  p{
   
    font-size: larger;
    font-weight: bold;
  } */
  
  
}
@media screen and (min-width: 602px) and (max-width: 990px) {

  /* css pour ecran de 600px minimum */
  .row{
    display: flex;
    flex:wrap;
    /* col l'une au dessus de l'autre */
  }
  .row .col{
    flex:1;
    min-width: 45%;
    margin: 10px;
  }
  
  
}

@media screen and (min-width: 993px) and (max-width: 1500px) {

  /* css pour ecran de 600px minimum */
  .row{
    display: flex;
    flex:wrap;
    /* col l'une au dessus de l'autre */
  }
  .row .col{
    flex:1;
    min-width: 25%;
    margin: 10px;
  }

}