@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;1,600&family=Merriweather&family=Quicksand&display=swap');
.navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
	
}

.nav li {
	display: inline;
	
	color:black;  
	 font-weight:bold;
	 font-size:larger;
	 text-decoration:none;
}
 a {
	
	color:black;  
	 font-weight:bold;
	 font-size:larger;
	 text-decoration:none;
	
	 
}
a:hover{
	color:#e7aa7b;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;

	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #444444;
	transition: 0.7s all linear;
	height: 100%;
}