{% extends "base.html.twig" %}
{% block title %}Mentions légales
{% endblock %}
{% block css %}
	<link href="{{ asset('assets/css/navbar.css') }}" rel="stylesheet"/>

	<link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet"/>
{% endblock %}
{% block content %}
	<h3 class="text-center " style=" padding: 2rem 1rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;opacity:0.8;color:#7f5539;font-weight:bold">Conditions d'utilisation</h3>
	<div class="container">
		<section class="d-flex justify-content-center flex-column align-items-center mb-3 ">
			<div class="col-xs-9 col-sm-9 col-md-8 col-xl-8 col-xxl-8 col-lg-8 bg-white " style="border-radius:20px;padding:10px">
				<h3 class="text-center mt-3 mb-3">CGU - CGV</h3>
				<p>

					La société SENE’Safari , soucieuse des droits des individus, notamment au regard des traitements automatisés et dans une volonté de transparence avec ses clients, a mis en place une politique représentant l’ensemble de ces traitements, des finalités poursuivies par ces derniers ainsi que des moyens d’actions à la disposition des individus afin qu’ils puissent au mieux exercer leurs droits.
					Pour toute information complémentaire sur la protection des données personnelles, nous vous invitons à consulter le
					<a href=" https://www.cnil.fr">Site du CNIL</a>.<br>

					La poursuite de la navigation sur ce site vaut acceptation sans réserve des dispositions et des conditions d’utilisation qui suivent.
				</p>
				<h4>Article 1 – Mentions légales</h4>

				<ol>
					<strong>
						<li>
							Site internet :
						</li>
					</strong>
					<p>
						SENE’Safari</p>

					<li>
						<strong>
							Éditeur :
						</strong>
					</li>
					<p>
						<strong>TRAORE CORP</strong>
						au capital de  1000 €
						dont le siège est situé à : 9 rue Maurice Ravel 91560 Crosne, FRANCE
						représentée par<br><strong>
							M. Papa TRAORE</strong>
						en sa qualité de<strong>
							Directeur Général</strong>
						et de<strong>
							Développeur Web</strong>.<br>
						<strong>N° de téléphone
						</strong>: +33 7 51 19 55 39 ou +33 6 27 76 90 16
						<br>
						<strong>Adresse mail
						</strong>: pmtraore@gmail.com
					</p>
					<li>
						<strong>
							Hébergeur :
						</strong>
					</li>
				</ol>
				<p>
					SENE’Safari est hébergé par IONOS by 1&1 .
					Le siège social est situé au 7 place de la Gare 57200 Sarreguemines. 
					Nous avons choisi cet hébergeur de par la simplicité de son interface d’administration, le rapport qualité/prix, de son ancienneté sur le marché( depuis 1999) et le fait qu’il soit leader du marché de l’hébergement.
				</p>

				<h4>
					Article 2 – Accès au site
				</h4>
				<p>
					L’accès au site et son utilisation sont réservés à un usage strictement personnel. Vous vous engagez à ne pas utiliser ce site et les informations ou données qui y figurent à des fins commerciales,  politiques, publicitaires et pour toute forme de sollicitation commerciale et notamment l’envoi de courriers électroniques non sollicités.
				</p>

				<h4>
					Article 3 – Contenu du site
				</h4>
				<p>

					Toutes les marques,photographies, textes, commentaires, illustrations, images animées ou non, séquences vidéo, sons ainsi que toutes les application,s informatiques qui pourraient être utilisés pour faire fonctionner ce site et plus généralement  tous les éléments reproduits ou utilisés sur le site sont protégés par les lois en vigueur au titre de la propriété intellectuelle.
					Ils sont la propriété pleine et entière de l’éditeur ou de ses partenaires.<br>
					Toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie des éléments, y compris les applications informatiques, sans l’accord préalable et écrit de l’éditeur., sont strictement interdites.
					Le fait pour l’éditeur de ne pas engager de procédure dès la prise de connaissance de ces utilisations no autorisées ne vaut pas acceptation desdites utilisations et renonciation aux poursuites.
				</p>

				<h4>
					Article 4 – Gestion du site
				</h4>
				<p>

					Pour la bonne gestion du site, l’éditeur pourra à tout moment : 
					- suspendre, interrompre ou limiter l’accès à tout ou partie du site, réserver l’accès au site, ou à certaines parties du site, à une catégorie déterminée d’internautes ;
					- supprimer toute information pouvant en perturber le fonctionnement ou entrant en contravention avec les lois nationales ou internationales;
					- suspendre le site afin de procéder à  des mises à jour

				</p>
				<h4>
					Article 5 – Responsabilités
				</h4>

				<p>
					La responsabilité de l’éditeur ne peut être engagée en cas de défaillance, panne, difficulté ou interruption de fonctionnement empêchant l’accès au site ou à une partie des fonctionnalités.
					Le matériel de connexion au site que vous utilisez est sous votre entière responsabilité. Vous devez prendre toutes les mesures appropriées pour protéger votre matériel et vos propres données .
					L’éditeur ne pourra être tenu responsable en cas de poursuites judiciaires à votre encontre :
					<ul>
						<li>
							du fait de l’usage du site et de tout service accessible via internet</li>
						<li>
							du fait du non-respect par vous des présentes conditions générales.</li>
					</ul>
					L’éditeur n’est pas responsable des dommages causés à vous même ,à des tiers , et/ou à votre équipement du fait de votre connexion ou de votre utilisation du site.


				</p>
				<h4>
					Article 6 – Liens hypertextes
				</h4>
				<p>
					La mise en place par les utilisateurs de tous les liens hypertextes vers tout ou partie du site.
					Toute information accessible via un lien vers d’autres sites n’est pas publiée par l’éditeur.
					L’éditeur ne dispose d’aucun droit sur le contenu présent dans ledit lien.

				</p>
				<h4>
					Article 7 – Collecte et protection de données
				</h4>
				<p>
					Vos données sont collectées par la société. 
					Une donnée à caractère personnel désigne toute information concernant une personne physique identifiée ou identifiable(personne concernée);est réputée identifiable une personne qui peut être identifiée,directement ou indirectement, notamment par référence à un nom, un numéro d’identification ou à un ou plusieurs éléments spécifiques propres à son identité physique, physiologique,psychique,économique, culturelle ou sociale.
					Les informations personnelles pouvant être recueillies sur le site sont principalement utilisées par l’éditeur pour la gestion des relations avec vous, et le cas échéant pour le traitement de vos commandes.</p>
				<p>Les données personnelles collectées sont les suivantes :
					<ul>
						<li>
							prénom, nom</li>
						<li>
							email</li>
						<li>numéro de téléphone</li>
						<li>adresse</li>
						<li>informations bancaires</li>

					</ul>
				</p>
				<h4>
					Article 8 – Droit d’accès, de rectification et de déréférencement de vos données
				</h4>
				<p>
					En application de la réglementation applicable aux données à caractère personnel, les utilisateurs disposent des droits suivants : 
					
					le droit d’accès : ils peuvent exercer le droit d’accès pour connaître les données personnelles les concernant en écrivant à l’adresse électronique ci dessous mentionnée.
					<ul>
						<li>
							le droit de rectification : si les données à caractère personnel détenue par la plateforme sont inexactes, ils peuvent demander la mise à jour des informations</li>
						<li>
							le droit de suppression : les utilisateurs peuvent demander la suppression de leurs données à caractère personnel.</li>
						<li>
							le droit à la limitation du traitement : ils peuvent demander à la plateforme de limiter le traitement de leurs données conformément aux hypothèses prévues par le RGPD</li>

						<li>
							le droit de s’opposer au traitement des données :  ils peuvent demander à la plateforme d’opposer leurs données conformément aux hypothèses prévues par le RGPD</li>
						<li>le droit à la portabilité : Demander le transfert des données à une nouvelle plateforme
						</li>
					</ul>
					Vous pouvez exercer ce droit en nous contactant à l’adresse : 9 rue Maurice Ravel 91560 Crosne
					
					ou par e-mail à l’adresse :  contact@senesafari.com
				</p>
				<h4>
					Article 9 – Utilisation des données
				</h4>
				<p>
					Les données personnelles  collectées auprès des utilisateurs ont pour objectif la mise à disposition des services de la plateforme et le maintien d’un environnement sécurisé notamment grâce à :
					<ul>
						<li>
							accès et utilisation de la plateforme par l’utilisateur</li>
						<li>
							gestion du fonctionnement et optimisation de la plateforme</li>
						<li>
							mise en œuvre d’une assistance utilisateurs</li>
						<li>
							vérification, identification et authentification des données transmises par l’utilisateur</li>
						personnalisation des services en affichant des pubs en fonction de l’historique de la navigation de utilisateur selon ses préférences</li>
					<li>
						prévention et détection des fraudes,malwares (malicious softwares ou logiciels malveillants) et gestion des incidents de sécurité</li>
					<li>
						gestion des éventuels litiges avec les utilisateurs</li>
					<li>
						envoi d’informations commerciales et publicitaires en fonction des préférences de l’utilisateur</li>
				</p>
			</ul>
		</p>

		<h4>
			Article 10 – Politique de conservation des données
		</h4>
		<p>
			La plateforme conserve vos données pour la durée nécessaire pour vous fournir les services ou l’assistance.
			Dans la mesure raisonnable de sécurité, nous pouvons conserver vos informations si nécessaire, même âpres que vous ayez clôturé votre compte utilisateur.
		</p>
		<h4>
			Article 11 – Partage de données personnelles avec des tiers
		</h4>
		<p>
			Vos données personnelles ne seront aucunement partagées que ce soit au niveau national comme international.  Cependant si la loi l’exige, la plateforme pourra transmettre les données pour donner suite aux réclamations présentées elle et se conformer aux procédures administratives et judiciaires.
		</p>
		<h4>
			Article 12 – Cookies
		</h4>
		<p>
			Un cookie ou traceur, est un fichier électronique déposé sur un terminal (ordinateur,tablette,smartphone, etc) et lu par exemple lors de la consultation d’un site internet, de la lecture d’un courrier électronique, de l’installation ou de l’utilisation d’un logiciel ou d’une application mobile et ce quel que soit le terminal utilisé.
			<a href="https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi" target="blank">
				Source CNIL - COOKIES :</a>
			Le cas échéant, des cookies émanant de l’éditeur du site pourront être déposés sur votre terminal avec votre accord bien sur.
			Lors de la première navigation, le client et/ou prospect devra accepter ou refuser l’utilisation des cookies. 
			Le consentement donné sera valable pour treize (13) mois avec la possibilité pour l’utilisateur de les supprimer à tout moment.
			La durée de vie des cookies est de treize mois.
		</p>
		<h4>
			Article 13 – Photographies et représentations des produits
		</h4>
		<p>
			Les photographies de produits, accompagnant leur description ne sont pas contractuelles et n’engagent pas l’éditeur.
		</p>
		<h4>

			Article 14 – Loi applicable
		</h4>
		<p>
			Les présentes conditions d’utilisation  du site sont régies par la loi française et soumises à la compétence des tribunaux du siège social de l’éditeur, sous réserve d’une attribution de compétence spécifique découlant d’un texte de loi ou réglementaire particulier.

		</p>
		<h4>


			Article 15 – Contactez nous
		</h4>
		<p>
			Pour toute question, information sur les produits présentés sur le site, ou concernant le site lui même, vous pouvez laisser un message à l’adresse suivante : 
			contact@senesafari.com ou au 9 rue Maurice Ravel 91560 CROSNE
			
			Ces mentions légales et politique de confidentialité ont été créées sur le site RocketLawyer

		</p>


	</div>
</section></div>{% endblock %}
