{% extends "base.html.twig" %}
{% block title %}Mentions légales
{% endblock %}

{% block content %}
<h3 class="text-center " style=" padding: 2rem 1rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;opacity:0.8;color:#7f5539;font-weight:bold">Mentions légales</h3>
<div class="container">
		<section class="d-flex justify-content-center flex-column align-items-center mb-3">	
  			  <div class="col-xs-9 col-sm-9 col-md-8 col-xl-8 col-xxl-6 bg-white" style="border-radius:20px;padding:10px">
					<div class="mentions">
						<h3 class="mt-2 mb-2 text-center">Mentions  légales</h3>
						Vous trouverez le détail sur la page suivante :
						<a href="{{ path('conditions_d_utilisation') }}">CGU</a>
						<p><h3>Dispositions liées à loi informatique et liberté</h3>Ce site utilise des cookies.</p>
						<h3>Editeur</h3>
							<table class="bg-secondary rounded">
								<tbody >
									<tr class="bg-secondary ">
										<td >Société</td>
										<td >TRAORE CORP</td>
									</tr>
									<tr class="bg-secondary even">
										<td >Adresse</td>
										<td >9 rue Maurice Ravel<br>91560 CROSNE<br>FRANCE</td>
									</tr>
									<tr class="bg-secondary ">
										<td >Téléphone</td>
										<td >Sur demande
									<b>
										<a href="{{ path('contact') }}" class="bg-warning">Contact direct et gratuit par email</a>
									</b>
										</td>
									</tr>
									<tr class="bg-secondary even ">
										<td >Numéro de TVA</td>
										<td >------</td>
									</tr>
									<tr class="bg-secondary ">
										<td >Statut</td>
										<td >S.A.R.L.</td>
									</tr>
									<tr class="bg-secondary even">
										<td >Email</td>
										<td >contact@senesafari.com</td>
									</tr>
									<tr class="bg-secondary ">
										<td >Adresse du siège social</td>
										<td >9 rue Maurice Ravel<br>91560 CROSNE</td>
									</tr>
									<tr class="bg-secondary even">
										<td >Capital social</td>
										<td >15000 Euros</td>
									</tr>

								</tbody>
							</table>
						<h3 class="mt-2">Hébergement</h3>
							<table class="bg-secondary rounded">
								<tbody >
									<tr class="bg-secondary ">
										<td >Raison sociale</td>
										<td >1&1 Internet SARL - IONOS</td>
									</tr>
									<tr class="bg-secondary even">
										<td >Adresse du siège social</td>
										<td >7 place de la Gare<br>57200 SARREGUEMINES</td>
									</tr>
									<tr class="bg-secondary ">
										<td >Numéro de téléphone</td>
										<td >0970 808 911 (appel non surtaxé) 24h/24 7j/7</td>
									</tr>

								</tbody>
							</table>
	
						<h3 style="clear:both">Dispositions liées au code de la propriété intelectuelle</h3>
								Toute représentation ou reproduction intégrale ou partielle faite sans notre consentement est illicite. 
				    			Il en est de même pour la traduction, l'adaptation ou la transformation, l'arrangement ou la reproduction par un art 
				   				 ou un procédé quelconque (hors conditions prévues par l'article L122-5 du code de la propriété intellectuelle).
							<br>
							Toutes les marques citées sont la propriété de leurs détenteurs respectifs.
							<br>
							Photos et vidéos non contractuelles.
				</div>
			</div>
		</section>
	</div>
{% endblock %}
