{% block title %}Inscription
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
{% endblock %}
{% block content %}
<h1> Votre inscription</h1>
	<div class="jumbotron mt-5">
		<p>Félicitations ! Vous êtes bien inscrit à la newsletter de SENE'Safari.
			Plus qu'une étape pour que votre inscription soit définitive.
			Merci de cliquer sur le lien suivant :
			<a href="{{ absolute_url(path('newsletters_confirm',{id: user.id, token:token }))}}">	
			{{ absolute_url(path('newsletters_confirm',{id: user.id, token:token }))}}">
			</a>
		</p> 
	</div>
{% endblock %}