{% extends 'base.html.twig' %}

{% block title %}Paiement échoué{% endblock %}
{% block css %}

<link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet" /> 
<link href="{{ asset('assets/css/navbar.css') }}" rel="stylesheet" /> 
{% endblock %}
{% block content %}
{{parent()}}
<h1>Nous sommes navrés mais nous rencontrons un problème avec le paiement. Merci de réesayer. cotre paiement.</h1>
   
{% endblock %}
