{% extends 'base.html.twig' %}

{% block title %}Paiement échoué{% endblock %}
{% block css %}

<link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet" /> 
<link href="{{ asset('assets/css/navbar.css') }}" rel="stylesheet" /> 
{% endblock %}
{% block content %}
{{parent()}}
 <h1 class="text-center" style=" padding: 2rem 1rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;opacity:0.8;color:#7f5539;font-weight:bold">Nous sommes navrés mais nous rencontrons un problème avec le paiement. Merci de réesayer. cotre paiement.</h1>
   
{% endblock %}
