{% extends 'base.html.twig' %}

{% block title %}Paiement effectué avec succès{% endblock %}
{% block css %}

<link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet" /> 
<link href="{{ asset('assets/css/navbar.css') }}" rel="stylesheet" /> 
{% endblock %}
{% block content %}
{{parent()}}
<h1  class="text-center mt-5" style='font-weight:bold;color:#7f5539'>L'équipe SENE'Safari vous remercie de votre commande  et vous dit à très vite dans le pays de la Teranga</h1>
   
{% endblock %}
