{% extends 'base.html.twig' %}

{% block title %}Paiement effectué avec succès &#x1F44F;&#x1F44F;&#x1F44F;{% endblock %}

{% block content %}
{{parent()}}
    <div class="recap container" style=" padding: 2rem 1rem;margin-bottom: 2rem;background-color: #e9ecef;border-radius: .3rem;opacity:0.8;color:#7f5539;font-weight:bold">
            <h5> Nous vous remercions de votre commande effectuée sur le site SeneSAFARI.</h5>
            <p>Veuillez trouvez ci-dessous un Récaputilatif de votre paiement ainsi qu'un exemplaire dans votre boîte mail.</p>
            <a href="{{ path('facture') }}">Télécharger votre facture.</a>

    </div>

{% endblock %}
